#head{
  width: 720px;
  height:4rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: relative;
}
.head-left{
  width: 50%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: white;
  float: left;
}
.head-left li{
  width:90px;
  float: left;
  text-align: center;
  font-size:1rem;
  position: relative;
  margin-top: 2px;
}
.head-left li::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 90px;
  height: 2px;
  background: #87ceeb;
  transition: 0.5s;
  transform: scaleX(0);
  transform-origin: 100% 0;
}
.head-left li:hover::before{
  transform-origin: 0 0;
  transform: scaleX(1);
}
.head-left li:hover,.button:hover{
  cursor: pointer;
  color: darkorange;
}
.head-content{
  width: 100%;
  height: 2rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}
.head-right{
  width: 45%;
  float: right;
}
.head-search{
  width: 60%;
  border: 1px solid lightgray;
  position: relative;
  border-radius:1rem ;
  float: left;
}
.head-search input{
  width: 80%;
  border: 0;
  height: 1.5rem;
  float: left;
  font-size: 1rem;
  outline: none;
  margin-left: 0.7rem;
}
.head-search img{
  width: 1.5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}
.point:hover{
  cursor: pointer;
}
.userLogin,.userInfo{
  width: 39%;
  height: 1.5rem;
  float: left;
}
.button{
  width: auto;
  margin-top: 2px;
  margin-left:10px;
  background-color: transparent;
  padding: 0;
  border: 0;
  font-size: 1rem;
  display: block;
  outline: none;
  float: left;
}

.fade-enter{
  opacity: 0;
}
.fade-enter-active{
  transition:opacity .5s;
}
.fade-leave{
  opacity:1;
}
.fade-leave-active{
  opacity: 0;
  transition:opacity .5s;
}
.login-img{
  height: 100%;
}
.write-blog{
}
.userInfo ul{
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: white;
  float: left;
}
.userInfo ul li {
  width: 50%;
  height: 100%;
  text-align: center;
  float: left;
}
.userInfo ul li:hover{
  cursor: pointer;
}
.write-blog:hover{
  color: darkorange;
}
.userInfo .login-list li{
  width: 100%;
}
.userInfo{
  margin-top: 3px;
}
.userInfo .login-list li:hover{
  color: darkorange;
}
.userInfo .login-list{
  width: 120%;
  margin-top: -5%;
  margin-left: -13%;
  height: auto;
  overflow: hidden;
}
.alert-background{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  perspective: 1300px;
  display: none;
}
.alert-background .alert{
  width: 300px;
  height: 200px;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  margin: -100px 0 0 -150px;
  padding: 10px;
  position: absolute;
  border: 1px solid black;
  border-radius: 10px;
  animation: alert .7s ease-in-out;
  background-color: white;
}
.alert-background .alert-head{
  height: 20%;
  width: 100%;
  font-size: 1.5rem;
  border-bottom: 1px solid black;
}
.alert-background .alert-title{
  float: left;
}
.alert-background .close{
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  line-height: 2rem;
  text-align: center;
  float: right;
}
.alert-background .alert-content{
  width: 100%;
  height: 50%;
  text-align: center;
  padding-top: 20px;
}
.alert-background .alert-button{
  height: 20%;
  width: 100%;
}
.alert-button div{
  width: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 26px;
  border: 1px solid transparent;
  text-align: center;
  border-radius: 2rem;
  height: 100%;
}
.alert-head .close:hover{
  cursor: pointer;
  color: white;
  text-shadow:0 0 5px black;
}
.alert-button div:hover{
  cursor: pointer;
  box-shadow: 0 0 10px black;
}
@keyframes alert {
  0% {
    transform: translateZ(-1000px) rotateY(80deg);
    opacity: 1;
    animation-timing-function: ease-in;
  }
  40%{
    transform: translateZ(0px) rotateY(80deg);
  }
  100% {
    transform: translateZ(0) rotateY(0deg);
    opacity: 1;
  }
}
